@import "../theme.scss";

$btn-width: 80px;

$btn-large-height: 32px;
$btn-medium-height: 28px;
$btn-small-height: 24px;

.ui-btn {
  width: 100%;
  padding: 0;
  text-align: center;
  border: 1px solid #dfdfdf;
  box-sizing: border-box;

  &:active {
    opacity: .5;
  }
  
  // 列举几个常用的btn
  &.btn-bg-primary {
    background-color: $color-primary; // 主色背景、白色字体
    color: $white;

    &:hover {
      opacity: .8;
    }
  }

  &.btn-bg-info {
    background-color: $white; // 白色背景
    color: $color-text-1st;

    &:hover {
      background-color: $color-primary;
      color: $white;
    }
  }

  &.btn-size-large {
    width: $btn-width;
    height: $btn-large-height;
  }

  &.btn-size-medium {
    width: $btn-width;
    height: $btn-medium-height;
  }

  &.btn-size-small {
    width: $btn-width;
    height: $btn-small-height;
  }
}