.wrap {
  .pc-img {
    display: block;
  }

  .m-img {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .wrap {
    .pc-img {
      display: none;
    }

    .m-img {
      display: block;
    }
  }
}